<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Compose It | Web components</title>
    <link href="../../css/normalize.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/axs1svs.css">
    </head>
    <body>
        <h1 class="comopnent__headline">Compose It Web Components</h1>
        
        <h2 class="comopnent__subhead">Typography defaults</h2>
        
        <article class="component">
            <h3 class="component__name">Body</h3>
            <div class="component__img">
                <img
                    srcset="img-ref/homepage-production-desc.png 2x"
                    src="img-ref/homepage-production-desc.png"
                    alt="body copy">
            </div>
            <div class="component__code">
                <p>Nous sommes <strong>Compose it, </strong>une agence de Production et R&eacute;alisation Audiovisuelle.</p>
                <p>Nous sommes une &eacute;quipe de sept permanents et disposons de toutes les comp&eacute;tences de la production de films en interne. Nous sommes agiles et mettons en oeuvre les id&eacute;es de nos clients.</p>
                <p>Nos deux r&eacute;alisateurs inhouse sont garants de la vision artistique de chaque production. Nous sommes cr&eacute;atifs et accompagnons nos clients dans l&#8217;&eacute;criture et la conception des projets.</p>
                <p>Nos monteurs assurent la post-production des films au sein de nos bureaux. Nous sommes agiles afin de garantir le suivi de chaque projet dans le respect des d&eacute;lais.</p>
                <p>Nous &eacute;voluons dans diff&eacute;rents univers, et vivons des aventures avec nos clients, car nous sommes curieux, ouverts et passionn&eacute;s : nous irons, ensemble, l&agrave; ou vous nous emmenerez.</p>
                <p><strong>Let&#8217;s Talk about your project, we will Compose it for you !</strong></p>
            </div>

            <article class="component">
                <h3 class="component__name">H1</h3>
                <div class="component__img">
                    <img
                        srcset="img-ref/homepage-agency-h1.png 2x"
                        src="img-ref/homepage-agency-h1.png"
                        alt="body copy">

                        <img
                        srcset="img-ref/project-content-h1.png 2x"
                        src="img-ref/project-content-h1.png"
                        alt="body copy">
                </div>
                <div class="component__code">
                    <h1 class="h-one">Compose it</h1>
                    <h1 class="h-one h-one--red">Compose It</h1>
                </div>
            </article>

            <article class="component">
                <h3 class="component__name">H2</h3>
                <div class="component__img">
                        <img
                        srcset="img-ref/homepage-work-item-h2.png 2x"
                        src="img-ref/homepage-work-item-h2.png"
                        alt="body copy">
                </div>
                <div class="component__code">
                    <h2 class="h-two">Fall Guys</h2>
                </div>
            </article>

        </article>
    </body>
</html>